:root {
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #FEDA0A;
    --light-gray: #1E1E1E;
    --background: #101113;
    --background-button: #6D6D6D;
    --button-height: 43px;
    --border-radius: 8px;
    --text-color: #878787;
    --blue: #00fffc;

}

p, h1, h2, h3, h4, h5, h6, a, th, td, button, span {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

p {
    color: var(--text-color);
}

body {
    background-color: var(--background);
    margin: 0;
    width: 100%;
    margin-top: 100px;
}

button {
    background-color: var(--background-button);
    color: var(--black);
    height: var(--button-height);
    border-radius: var(--border-radius);
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 200px;

    &:hover {
        background-color: var(--white);
        color: var(--black);
    }
}

.home, .aboutme, .socialmedia, .hobbit, .listofimages {
    width: 90%;
    display: flex;
    height: 500px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo a {
    color: var(--yellow);
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

header .logo {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .buttons {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .buttons a {
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

header .buttons a:hover {
    color: var(--yellow);
}

header .contact {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Home */
.home {
    justify-content: center;
    align-items: center;
    height: 400px;
}

.home-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.home-left h1 {
    color: var(--white);
}

.home-left span {
    color: var(--yellow);
}

.home-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.home-right img {
    width: 50%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px var(--yellow);
    cursor: pointer;
}


/* Highlight */
.highlight {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--black);
}

.highlight h3 {
    color: var(--white);
}


/* About me */
/* Social media */
.aboutme, .socialmedia, .hobbit, .listofimages {
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    padding-top: 24px;

}

.aboutme h1, .socialmedia h1, .hobbit h1, .listofimages h1 {
    color: var(--white);
}

.listofbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;
}

.box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    border-radius: var(--border-radius);
    background-color: var(--black);
    border: 1px solid var(--light-gray);
    cursor: pointer;
    color: var(--white);
    gap: 24px;
    margin-bottom: 12px;

    i {
        font-size: 48px;
    }
}

.socialmedia .listofbox .box {
    box-shadow: 0 0 20px var(--blue);
}

.box:hover {
    background-color: var(--white);
    color: var(--black);
    transition: 0.5s ease-in-out;

    h1 {
        color: var(--black);
    }
}


/* Hobbit */
.hobbit {
    height: auto;
    padding: 24px 0;
}

/* List of images */
.listofimages {
    height: auto;
}

.listofimages .listofbox .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

/* Table */
table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid var(--light-gray);
    text-align: center;
    color: var(--white);
}

th, td {
    padding: 12px;
}

th {
    background-color: var(--black);
    color: var(--yellow);
}

tr {
    background-color: var(--white);
}

td {
    color: var(--black)
}


/* Footer */
footer {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
}

.footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;

    h1 {
        color: var(--yellow);
    }
}

.footer-right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    button {
        width: 200px;
    }
}



/* Media queries */


@media (max-width: 800px) {
    header .buttons {
        display: none;
    }

    header .contact {
        display: none;
    }

    header .logo {
        width: 100%;
    }

    .home {
        display: block;
        height: 100%;
        padding-bottom: 30px;
    }

    .home-left {
        width: 100%;
        margin: 24px 0;

    }

    .home-right {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .home-right img {
        width: 100%;
    }


    .highlight h3 {
        font-size: 12px;

    }

    .aboutme {
        width: 100%;
    }

    .aboutme h1 {
        font-size: 16px;
    }

    table {
        width: 90%;
    }

    .box h1 {
        font-size: 12px;
    }

    footer {
        display: block;
        height: auto;
        padding: 24px 0;
    }

    .footer-left {
        width: 100%;
        margin-bottom: 24px;

        button {
            width: 200px;
        }
    }

    .footer-right {
        width: 100%;
    }

    .socialmedia {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    .socialmedia .listofbox .box {
        box-shadow: 0 0 5px var(--blue);
    }

    .listofimages .listofbox {
        flex-direction: column;

        .box {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);

}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: var(--border-radius);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}